body{
  background-color: gray;
}

.login-container {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  width: 500px;
  align-self: center;
  margin-top: 20vh;
}

.title {
  font-size: 25px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  margin-left: 20vh;
  
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

.btn-primary:active,
.btn-primary:focus {
  box-shadow: none;
}